@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --theme-color: rgba(232, 57, 92, 1);
  }
}

/* @font-face {
  font-family: "Avenir";
  src: url("/fonts/Avenir-Medium.ttf") format("truetype"); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir-800";
  src: url("/fonts/Avenir-Black.ttf") format("truetype"); 
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: Avenir;
  src: url('../../public/fonts/Avenir-Medium.ttf') format('truetype');
}

@font-face {
  font-family: avenir-bold;
  src: url('../../public/fonts/Avenir-Black.ttf') format('truetype');
}

.avenir-regular {
  font-family: 'Avenir';
}

.avenir-bold {
  font-family: 'Avenir-bold';
}


body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* globals.css or main.scss */
:root {
  --theme-color: rgba(232, 57, 92, 1); /* Your Theme Color */
  --background: #ffffff;
  --foreground: #171717;
}

.banner-gradient {
  background: linear-gradient(
    90.18deg,
    rgba(247, 247, 248, 0.8) 6.21%,
    rgba(247, 247, 248, 0.7) 49.42%,
    rgba(247, 247, 248, 0.9) 95.79%
  );
}
