.bg-gradient-custom {
  background: linear-gradient(
    90.18deg,
    rgba(247, 247, 248, 0.8) 6.21%,
    rgba(247, 247, 248, 0.7) 49.42%,
    rgba(247, 247, 248, 0.9) 95.79%
  );
}

.landing-page-box-shadow {
  box-shadow: 0px -10px 30px 0px #38dafd0f;
}

.header-linear-bg {
  background: linear-gradient(
    90.18deg,
    rgba(247, 247, 248, 0.8) 6.21%,
    rgba(247, 247, 248, 0.7) 49.42%,
    rgba(247, 247, 248, 0.9) 95.79%
  ) !important;
}

.add-ons-cards {
  border-radius: 12px;
  box-shadow: 0px 5px 9px 0px #e8395c08;
  background: linear-gradient(
    180deg,
    #fff6f8 -10.65%,
    #ffffff 52.82%,
    #ffffff 100%
  );
}

.pricing-block {
  background: linear-gradient(91deg, #fff7f9 0.9%, #fff5fc 99.88%);
  //margin: 0px 3.3125rem;
}

/* Wrapper with gradient border */
.pricing-border-gradient {
  position: relative;
  padding: 2px; /* Border thickness */
  border-radius: 20px; /* Apply the rounded corners */
  background: linear-gradient(
    90.98deg,
    rgba(254, 29, 105, 0.5) 0.21%,
    rgba(242, 30, 182, 0.5) 99.31%
  );
}

.pricing-border-gradient .content {
  background: linear-gradient(91deg, #fff7f9 0.9%, #fff5fc 99.88%);
  border-radius: 18px; /* Match border-radius to outer wrapper */
  padding: 2.125rem 2.625rem;
}

.mirror-image {
  transform: scaleY(-1);
}

/* Scroll from Left to Right */
@keyframes scroll-left-to-right {
  0% {
    transform: translateX(-100%); /* Start completely off-screen to the left */
  }
  100% {
    transform: translateX(100%); /* Move completely off-screen to the right */
  }
}

.scroll-left-to-right {
  display: flex; /* Ensures smooth horizontal scrolling */
  width: fit-content; /* Adjusts the container width to content */
  animation: scroll-left-to-right 60s linear infinite; /* Left-to-right scrolling */
  white-space: nowrap; /* Prevents line breaks */
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(
      -50%
    ); /* Move halfway through the container to make it seamless */
  }
}

.scroll-wrapper {
  overflow: hidden; /* Ensures that only the visible part of the scrolling content is shown */
  width: 100%; /* Set the width to the container */
}

.scroll {
  display: flex;
  animation: scroll 60s linear infinite; /* Infinite scroll with the desired duration */
  white-space: nowrap; /* Prevents line breaks */
  min-width: 100%; /* Ensures scrolling starts from the full width */
}

.accordion-tab-shadow {
  box-shadow: 0px 12px 34px 0px #2121260d, 0px 4px 6px 0px #21212614,
    0px 0px 0px 1px #1313160d, 0px 1px 1px 0px #0000000d;
}

.step-1 {
  .step-1-red-img {
    display: none;
  }
}

.step-1:hover {
  .step-1-red-img {
    display: block;
  }

  .step-1-img {
    display: none;
  }
}

.step-2 {
  .step-2-img {
    display: block;
  }

  .step-2-red-img {
    display: none;
  }
}

.step-2:hover {
  .step-2-red-img {
    display: block;
  }

  .step-2-img {
    display: none;
  }
}

.step-3 {
  .step-3-img {
    display: block;
  }

  .step-3-red-img {
    display: none;
  }
}

.step-3:hover {
  .step-3-red-img {
    display: block;
  }

  .step-3-img {
    display: none;
  }
}

.candidate-resume-checker-box-shadow {
  box-shadow: 11px 13.75px 48.11px 0px #7e8afd14;
}

.resume-checker-box {
  backdrop-filter: blur(54.43378448486328px);
  border: 1.3px solid;
  border-image-source: radial-gradient(
      116.39% 236.06% at 0% 0%,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.job-posts-scroll-card {
  cursor: pointer;
  box-shadow: 0px 0px 20px 0px #0000000d;
  border: 1px solid #ffffff;
  background: linear-gradient(
    180deg,
    #fff6f8 -10.65%,
    #ffffff 52.82%,
    #ffffff 100%
  );
}

.download-card {
  box-shadow: 0px 4px 30px 0px #e8395c26;
  background: #fbf9f9;
}

.testimonial-card {
  height: 17.813rem;
  box-shadow: 0px 10px 30px 0px #e1e1e14d;
}

.register-now-card {
  box-shadow: 0px 7px 25px -5px #e8395c1a,
              0px 5px 15px 0px #e8395c14,
              0px 0px 0px 1px #e8395c0d;
}

