@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient-custom {
  background: linear-gradient(
    90.18deg,
    rgba(247, 247, 248, 0.8) 6.21%,
    rgba(247, 247, 248, 0.7) 49.42%,
    rgba(247, 247, 248, 0.9) 95.79%
  );
}

.landing-page-box-shadow {
  box-shadow: 0px -10px 30px 0px #38dafd0f;
}

.header-linear-bg {
  background: linear-gradient(
    90.18deg,
    rgba(247, 247, 248, 0.8) 6.21%,
    rgba(247, 247, 248, 0.7) 49.42%,
    rgba(247, 247, 248, 0.9) 95.79%
  ) !important;
}

.add-ons-cards {
  border-radius: 12px;
  box-shadow: 0px 5px 9px 0px #e8395c08;
  background: linear-gradient(
    180deg,
    #fff6f8 -10.65%,
    #ffffff 52.82%,
    #ffffff 100%
  );
}

.pricing-block {
  background: linear-gradient(91deg, #fff7f9 0.9%, #fff5fc 99.88%);
  //margin: 0px 3.3125rem;
}

/* Wrapper with gradient border */
.pricing-border-gradient {
  position: relative;
  padding: 2px; /* Border thickness */
  border-radius: 20px; /* Apply the rounded corners */
  background: linear-gradient(
    90.98deg,
    rgba(254, 29, 105, 0.5) 0.21%,
    rgba(242, 30, 182, 0.5) 99.31%
  );
}

.pricing-border-gradient .content {
  background: linear-gradient(91deg, #fff7f9 0.9%, #fff5fc 99.88%);
  border-radius: 18px; /* Match border-radius to outer wrapper */
  padding: 2.125rem 2.625rem;
}

.mirror-image {
  transform: scaleY(-1);
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll {
  display: flex;
  width: max-content; /* Ensures the width fits the content */
  animation: scroll 20s linear infinite;
}

.accordion-tab-shadow {
  box-shadow: 0px 12px 34px 0px #2121260d, 0px 4px 6px 0px #21212614,
    0px 0px 0px 1px #1313160d, 0px 1px 1px 0px #0000000d;
}

.step-1 {
  .step-1-red-img {
    display: none;
  }
}

.step-1:hover {
  .step-1-red-img {
    display: block;
  }

  .step-1-img {
    display: none;
  }
}

.step-2 {
  .step-2-img {
    display: block;
  }

  .step-2-red-img {
    display: none;
  }
}

.step-2:hover {
  .step-2-red-img {
    display: block;
  }

  .step-2-img {
    display: none;
  }
}

.step-3 {
  .step-3-img {
    display: block;
  }

  .step-3-red-img {
    display: none;
  }
}

.step-3:hover {
  .step-3-red-img {
    display: block;
  }

  .step-3-img {
    display: none;
  }
}